body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
  height: 100vh;
  gap: 12vh;
}


.header {
  text-align: center;
  margin: 10% 0 5%;
  color: #2ecf9f;
  font-size: 3vh;
  font-weight: 600;
}

.container-counter {
  display: flex;
  justify-content: center;
  margin: 10% 0;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15%;
  width: 50%;
  border: 1.5vw solid;
  border-radius: 50%;
  border-color: #14ac7e;
}

.count {
  color: #20e4a9;
  text-align: center;
  font-size: 6vh;
  font-weight: 500;

}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
}

.btn {
  width: 4em;
  height: 2em;
  border: none;
  outline: none;
  border-radius: 1em;
  background-color: #29cf9e;
}

.btn-icon {
  height: 0.9em;
  transition: height 5ms, color 5ms;
}

.btn-icon:hover {
  height: 1.1em;
  color: white;
}

.autor {
  margin: 5% 0;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.icon-autor {
  height: 1.25em;
  transition: height 5ms;
  color: #14ac7e;
}

.icon-autor:hover {
  color: white;
  height: 1.5em;
}